*{
	padding: 0;
	margin: 0;
}

body {
	font-family: Modelica, sans-serif;
	font-size: 20px;
	color: #222222;	
	line-height: 1.3;
}

header {
	background-color: #000000;
	color: #24A9A0;
	padding: 30px;
}

#slogan {
	font-style: italic;
	color: #eeeeee;
}

a {
	text-decoration: none;
	color: #24A9A0;
}

nav a {
	margin-right: 20px;
	float: right;
	height: auto;
}


header img {
	width: 19%;
}
img {
	width: 100%;
}

main {
	padding: 20px;
}

section {
	background-color: #000000;
}

h2 {
	margin-left: 10px;
	color: #b2388d;
	padding: 20px;
}

main {
	background: #eeeeee;
	}

ul, ol {
	margin-left: 10px;
	padding-left: 22px
	padding-bottom: 10px;

}

main a {

}

